.internetBankPayment p {
  margin: 0;
  padding: 2% 2% 0;
  font-weight: 600;
}

.internetBankPayment form {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  padding: 2% 2% 0;
}

.internetBankPayment .dataList {
  padding: 0;
  margin: 2% 0;
}

.internetBankPayment .dataElement {
  display: flex;
  justify-content: flex-start;
}

.internetBankPayment label {
  color: darkslategray;
  padding: 7px 0;
  box-sizing: border-box;
  min-width: 30%;
  padding-right: 15px;
}

.internetBankPayment .dataElement input,
.internetBankPayment .tax {
  border: none;
  width: 70%;
  margin-bottom: 20px;
  padding: 7px 20px;
}

.internetBankPayment #sum {
  width: 30%;
}

.internetBankPayment #from,
.internetBankPayment #BIC,
.internetBankPayment #accountNumber,
.internetBankPayment #sum {
  border-bottom: 1px solid lightslategray;
}

.internetBankPayment .tax {
  border-bottom: 1px solid rgb(57, 0, 0);
}

.internetBankPayment .submitButton {
  border: 1px solid lightslategrey;
  max-width: 290px;
  width: fit-content;
  padding: 2% 5%;
  background: rgba(69, 84, 89, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(69, 84, 89, 1) 0%,
    rgba(0, 18, 23, 1) 50%,
    rgba(69, 84, 89, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(69, 84, 89, 1)),
    color-stop(50%, rgba(0, 18, 23, 1)),
    color-stop(100%, rgba(69, 84, 89, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(69, 84, 89, 1) 0%,
    rgba(0, 18, 23, 1) 50%,
    rgba(69, 84, 89, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(69, 84, 89, 1) 0%,
    rgba(0, 18, 23, 1) 50%,
    rgba(69, 84, 89, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(69, 84, 89, 1) 0%,
    rgba(0, 18, 23, 1) 50%,
    rgba(69, 84, 89, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(69, 84, 89, 1) 0%,
    rgba(0, 18, 23, 1) 50%,
    rgba(69, 84, 89, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#455459', endColorstr='#455459', GradientType=1 );
  color: white;
  text-shadow: 5px solid black;
}

.internetBankPayment .resetButton {
  background: none;
  border: none;
  width: fit-content;
  color: black;
  padding: 10px 20px;
  margin: 4% 0;
  background-color: rgba(255, 255, 255, 0.483);
  box-shadow: 5px 5px 2px 0px rgba(47, 79, 79, 0.649);
}

.internetBankPayment .resetButton:hover {
  background-color: white;
}

.inputArea {
  width: 70%;
}

.inputArea * {
  display: block;
}

.inputArea input {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 10px;
}

.inputArea label {
  color: gray;
  font-size: 0.8em;
  padding: 0 20px;
  margin-bottom: 20px;
}

.taxOptions {
  padding: 0 20px;
  display: flex;
}

.taxOptions button {
  padding-right: 10px;
  color: rgb(57, 0, 0);
}

button.taxOption__chosen {
  color: black;
}
